<!doctype html>
<html class="no-js fixed-layout">
<head>
<% include("/common/shop_head.html"){}%>
<script type="text/javascript">
$().ready( function() {
  
	// 删除
	$(".deleteMessage").click( function() {
		if (confirm("您确定要删除吗？") == false) {
			return false;
		}
	});
	
	// 显示消息内容
	$(".showMessageContent").click( function() {
		var $this = $(this);
		var $messageContentTr = $this.parent().parent().next(".messageContentTr");
		if ($.trim($messageContentTr.find("td").text()) == "") {
			var id = $this.metadata().id;
			$.ajax({
				url: "${base}/shop/message/ajaxMessageContent",
				data: {"id": id},
				async: false,
				dataType: "json",
				beforeSend: function(data) {
					$messageContentTr.find("td").html('<span class="loadingIcon"> </span> 加载中...');
				},
				success: function(data) {
					if (data.status == "success") {
						$messageContentTr.find("td").html(data.content);
					} else {
						$.message(data.status, data.message);
					}
				}
			});
		}
		var $showMessageContentIcon = $this.prev("span");
		if ($showMessageContentIcon.hasClass("downIcon")) {
			$messageContentTr.show();
			$showMessageContentIcon.removeClass("downIcon").addClass("upIcon");
		} else {
			$messageContentTr.hide();
			$showMessageContentIcon.removeClass("upIcon").addClass("downIcon");
		}
	});
  
});
</script>
<style type="text/css">
<!--

.messageInbox .messageContentTr {
  display: none;
  background-color: #fafafa;
}

.messageInbox .messageContentTr td {
  padding-left: 30px;
}


-->
</style>
</head>
<body>
<%include("/shop/header.html"){}%>
<div class="am-cf shop-main">
  <!-- sidebar start -->
  <%include("/shop/sidebar.html"){}%>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="shop-content">
    <div class="shop-content-body">
      <ol class="am-breadcrumb am-margin-left am-margin-bottom-0">
        <li class="am-active">收件箱</li>
      </ol>
      <div class="am-scrollable-horizontal">
          <table class="am-table am-table-striped am-table-hover table-main am-text-nowrap">
            <thead>
              <tr>
               <th>标题</th>
							<th>发件人</th>
							<th>已读</th>
							<th>时间</th>
							<th>操作</th>
              </tr>
            </thead>
            <tbody>
              <%for(list in pager.list){%>
							<tr>
								<td>
									<span class="downIcon"> </span><a class="showMessageContent {id: '${list.id}'}" href="javascript: void(0);">${list.title}</a>
								</td>
								<td>
									${list.fromMember.username!"<span class=\"green\">管理员</span>"}
								</td>
								<td>
									<%if (list.isRead){%>
										是
									<%}else{%>
										<span class="red">否</span>
									<%}%>
								</td>
								<td>
									${list.createDate,dateFormat="yyyy-MM-dd HH:mm:ss"}
								</td>
								<td>
									<a href="${base}/shop/message/reply?id=${list.id}">回复</a>
									<a href="${base}/shop/message/delete?id=${list.id}" class="deleteMessage">删除</a>
								</td>
							</tr>
							<tr class="messageContentTr">
								<td colspan="5"></td>
							</tr>
						<%}%>
            </tbody>
          </table>
          </div>
          <hr>
          <%include("/shop/pager.html", {"pageNumber":pager.pageNumber,"pageSize":pager.pageSize,"pageCount":pager.totalPage,"property":"","keyword":"无","orderBy":"","orderType":"","baseUrl":"/shop/order/list"}) {}%>
        </div>
    <%include("/shop/footer.html"){}%>
  </div>
  <!-- content end -->
</div>
</body>
</html>