<!doctype html>
<html class="no-js fixed-layout">
<head>
<% include("/common/shop_head.html"){}%>
<style type="text/css">
  .am-control-thumbs li {
    width: 100%/6; /* n 为轮播图数量 */
  }
</style>
<script type="text/javascript">
var maxProductHistoryListCount = 5; // 最大商品浏览记录数
$.addProductHistory = function(name, htmlFilePath) {
	var productHistory = {
		name: name,
		htmlFilePath: htmlFilePath
	};
	var productHistoryArray = new Array();
	var productHistoryListCookie = $.cookie("productHistoryList");
	if(productHistoryListCookie) {
		productHistoryArray = eval(productHistoryListCookie);
	}
	var productHistoryListHtml = "";
	for (var i in productHistoryArray) {
		productHistoryListHtml += '<li><a href="' + productHistoryArray[i].htmlFilePath + '">' + productHistoryArray[i].name + '</a></li>';
	}
	for (var i in productHistoryArray) {
		if(productHistoryArray[i].htmlFilePath == htmlFilePath) {
			return;
		}
	}
	if(productHistoryArray.length >= maxProductHistoryListCount) {
		productHistoryArray.shift();
	}
	productHistoryArray.push(productHistory);
	var newProductHistoryCookieString = "";
	for (var i in productHistoryArray) {
		newProductHistoryCookieString += ',{name: "' + productHistoryArray[i].name + '", htmlFilePath: "' + productHistoryArray[i].htmlFilePath + '"}'
	}
	newProductHistoryCookieString = "[" + newProductHistoryCookieString.substring(1, newProductHistoryCookieString.length) + "]";
	$.cookie("productHistoryList", newProductHistoryCookieString, {path: "/"});
}

$().ready( function() {
	// 添加商品浏览记录
	$.addProductHistory("<%if (strutil.length(product.name!) <= 15){%>${product.name}<%}else{%>${strutil.subStringTo(product.name,0,11)}...<%}%>", "${base}${product.htmlFilePath}");
});
</script>
</head>
<body>
<%include("/shop/header.html"){}%>
<div class="am-cf shop-main">
  <!-- content start -->
  <div class="shop-content">
    <div class="shop-content-body">
      <div class="am-g">
        <div class="am-u-md-2 am-hide-sm-only am-text-xs am-padding-right-0">
          <table class="am-table am-table-bordered am-table-compact am-margin-top-xs">
          <thead>
            <tr>
              <th class="am-danger">热销排行</th>
            </tr>
          </thead>
          <tbody>
            <%for(list in hotProductList!){%>
            <tr>
              <td>
                <span class="am-badge am-badge-danger">${listLP.index}</span>
                <%if (strutil.length(list.name) < 15){%>
                <a href="${base}${list.htmlFilePath}" title="${list.name}">${list.name}</a>
                <%}else{%>
                <a href="${base}${list.htmlFilePath}" title="${list.name}">${strutil.subStringTo(list.name,0,11)}...</a>
                <%}%>
              </td>
            </tr>
            <%if (listLP.index == 9){%>
            <%break;%>
            <%}%>
            <%}%>
          </tbody>
          </table>
          <table class="am-table am-table-bordered am-table-compact am-margin-top-xs">
          <thead>
            <tr>
              <th class="am-primary">浏览记录</th>
            </tr>
          </thead>
          <tbody id="productHistoryListDetail">
          </tbody>
          </table>
        </div>
        <div class="am-u-sm-12 am-u-md-10">
          <ol class="am-breadcrumb am-margin-bottom-0">
            <li><span class="am-icon-home"> </span>首页</li>
            <%for(list in pathList){%>
            <li><a href="${base}/shop/product/list?id=${list.id}">${list.name}</a></li>
            <%}%>
          </ol>
          <div class="am-g">
            <div class="am-u-sm-5">
              <div class="am-slider am-slider-default" data-am-flexslider>
                <ul class="am-slides">
                  <%for(list in product.productImageList!){%>
                  <li>
                    <img src="${base}${list.smallProductImagePath}" />
                  </li>
                  <%}%>
                  <%if (product.productImageList == null){%>
                  <li>
                    <img src="${base}${systemConfig.defaultSmallProductImagePath}" />
                  </li>
                  <%}%>
                </ul>
              </div>
            </div>
            <div class="am-u-sm-7">
              <h1>
                <%if (strutil.length(product.name) > 50){%>${strutil.subStringTo(product.name,0,45)}...<%}else{%>${product.name}<%}%>
              </h1>
              <ul class="am-avg-sm-1 am-avg-md-2">
                <%var index = 1;%>
                <%for(list in product.productType.enabledProductAttributeList!){%>
                <%if (product.productAttributeMap != null){%>
                <li>
                  <strong>${list.name}:</strong>
                  ${product.productAttributeMap[list.id]}&nbsp;
                </li>
                <%if (index == 5){%>
                <%break;%>
                <%}%>
                <% index = index + 1; %>
                <%}%>
                <%}%>
                <%if (product.productType.productAttributeList! != null && product.productType.productAttributeList.~size > 0){%>
                <li><a href="#productAttribute" id="moreProductAttribute">更多参数>></a></li>
                <%}%>
              </ul>
              <div class="am-panel am-panel-default">
                  <div class="am-panel-bd">
                    销 售 价：<span class="an-text-danger">${product.price,priceCurrencyFormat}</span>
                    市 场 价：<del>${product.marketPrice,priceCurrencyFormat}</del>
                    <hr>
                    <%if (product.weight > 0){%>
                      重 量：<span>${product.weight} ${i18n("WeightUnit." + product.weightUnit)}</span>
                    <%}%>
                    <%if (product.point != 0){%>
                      积 分：<span>${product.point}</span>
                    <%}%>
                  </div>
              </div>
              <div class="am-panel am-panel-default">
                  <div class="am-panel-bd">
                    货号: <span>${product.productSn}</span>
                    ${"品牌: <span>" + product.brand.name! + "</span>"}
                  </div>
              </div>
              <div class="am-panel am-panel-default">
                  <div class="am-panel-bd">
                    我要购买: <input type="text" id="quantity" value="1" /> 件
                    <%if (product.isOutOfStock){%>
                      <input type="button" class="outOfStockButton" value=""/>
                    <%}else{%>
                      <input type="button" value="加入购物车" />
                    <%}%>
                    <input type="button" value="收藏商品" />
                  </div>
              </div>
            </div>
            <hr />
            <div class="am-tabs" data-am-tabs>
              <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active"><a href="#tab1">商品介绍</a></li>
                <li><a href="#tab2">规格参数</a></li>
              </ul>
            
              <div class="am-tabs-bd">
                <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                  ${product.description}
                </div>
                <div class="am-tab-panel am-fade" id="tab2">
                  <table class="productAttributeTable">
                    <%for(list in product.productType.enabledProductAttributeList!){%>
                    <%if (product.productAttributeMap != null){%>
                    <tr>
                      <th>${list.name}</th>
                      <td>
                        ${product.productAttributeMap[list.id]}&nbsp;
                      </td>
                    </tr>
                    <%}%>
                    <%}%>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%include("/shop/footer.html"){}%>
  </div>
  <!-- content end -->
</div>
</body>
</html>

			