<!doctype html>
<html class="no-js fixed-layout">
<head>
<% include("/common/shop_head.html"){}%>
<script type="text/javascript">
$().ready( function() {

	// 地区选择菜单
	$(".areaSelect").lSelect({
		url: "${base}/area/ajaxChildrenArea"// Json数据获取url
	});

});
</script>
</head>
<body>
<%include("/shop/header.html"){}%>
<div class="am-cf shop-main">
  <!-- sidebar start -->
  <%include("/shop/sidebar.html"){}%>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="shop-content">
    <div class="shop-content-body">
      <ol class="am-breadcrumb am-margin-left am-margin-bottom-0">
        <li class="am-active">个人信息</li>
      </ol>
				<div class="middle">
					<div class="blank"></div>
					<form id="inputForm" class="validate" action="${base}/profile/update" method="post">
						<table class="inputTable">
							<tr>
								<th>
									E-mail:
								</th>
								<td>
									<input type="text" name="member.email" class="formText {required: true, messages: {required: '请输入E-mail地址！'}, email: true}" class="{required: true, messages: {required: '请选择收货地址！'}}" value="${member.email!}" />
									<label class="requireField">*</label>
								</td>
							</tr>
							<%for(list in enabledMemberAttributeList){%>
								<tr>
									<th>
										${list.name}:
									</th>
									<td>
										<%if (list.attributeType == "text"){%>
											<input type="text" name="${list.id}" class="formText<%if (list.isRequired){%> {required: true}<%}%>" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "number"){%>
											<input type="text" name="${list.id}" class="formText {<%if (list.isRequired){%>required: true, <%}%>number: true}" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "alphaint"){%>
											<input type="text" name="${list.id}" class="formText {<%if (list.isRequired){%>required: true, <%}%>lettersonly: true}" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "email"){%>
											<input type="text" name="${list.id}" class="formText {<%if (list.isRequired){%>required: true, <%}%>email: true}" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "select"){%>
											<select name="${list.id}"<%if (list.isRequired){%> class="{required: true}"<%}%>>
												<option value="">请选择...</option>
												<%for(attributeOptionList in list.attributeOptionList){%>
													<option value="${attributeOptionList}"<%if (member.memberAttributeMap[list.id] == attributeOptionList){%> selected<%}%>>${attributeOptionList}</option>
												<%}%>
											</select>
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "checkbox"){%>
											<%for(attributeOptionList in list.attributeOptionList){%>
												<label><input type="checkbox" name="${list.id}"<%if (list.isRequired){%> class="{required: true, messagePosition: '#${list.id}MessagePosition'}"<%}%> value="${attributeOptionList}"<%if (strutil.contain(member.memberAttributeMap[list.id],attributeOptionList)){%> checked<%}%> />${attributeOptionList}</label>
											<%}%>
											<span id="${list.id}MessagePosition"></span>
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "name"){%>
											<input type="text" name="${list.id}" class="formText <%if (list.isRequired){%>{required: true}<%}%>" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "gender"){%>
											<label><input type="radio" name="${list.id}"<%if (list.isRequired){%> class="{required: true, messagePosition: '#${list.id}MessagePosition'}"<%}%> value="male" <%if (member.memberAttributeMap[list.id] == "male"){%> checked<%}%> />${i18n("Gender.male")}</label>
											<label><input type="radio" name="${list.id}"<%if (list.isRequired){%> class="{required: true, messagePosition: '#${list.id}MessagePosition'}"<%}%> value="female" <%if (member.memberAttributeMap[list.id] == "female"){%> checked<%}%> />${i18n("Gender.female")}</label>
											<span id="${list.id}MessagePosition"></span>
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "date"){%>
											<input type="text" name="${list.id}" class="formText datePicker {<%if (list.isRequired){%>required: true, <%}%>dateISO: true}" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "area"){%>
											<input type="text" name="${list.id}" class="formText areaSelect<%if (list.isRequired){%> {required: true}<%}%>" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "address"){%>
											<input type="text" name="${list.id}" class="formText <%if (list.isRequired){%>{required: true}<%}%>" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "zipCode"){%>
											<input type="text" name="${list.id}" class="formText {<%if (list.isRequired){%>required: true, <%}%>zipCode: true}" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "mobile"){%>
											<input type="text" name="${list.id}" class="formText {<%if (list.isRequired){%>required: true, <%}%>mobile: true}" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "phone"){%>
											<input type="text" name="${list.id}" class="formText {<%if (list.isRequired){%>required: true, <%}%>phone: true}" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "qq"){%>
											<input type="text" name="${list.id}" class="formText <%if (list.isRequired){%>{required: true}<%}%>" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "msn"){%>
											<input type="text" name="${list.id}" class="formText <%if (list.isRequired){%>{required: true}<%}%>" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "wangwang"){%>
											<input type="text" name="${list.id}" class="formText <%if (list.isRequired){%>{required: true}<%}%>" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}else if (list.attributeType == "skype"){%>
											<input type="text" name="${list.id}" class="formText <%if (list.isRequired){%>{required: true}<%}%>" value="${member.memberAttributeMap[list.id]}" />
											<%if (list.isRequired){%><label class="requireField">*</label><%}%>
										<%}%>
									</td>
								</tr>
							<%}%>
							<tr>
								<th>
									&nbsp;
								</th>
								<td>
									<input type="submit" class="submitButton" value="提 交" hidefocus="true" />
								</td>
							</tr>
						</table>
					</form>
					<div class="blank"></div>
				</div>
		</div>
    <%include("/shop/footer.html"){}%>
  </div>
  <!-- content end -->
</div>
</body>
</html>
            