<!doctype html>
<html class="no-js fixed-layout">
<head>
<% include("/common/shop_head.html"){}%>
<script type="text/javascript">
$().ready( function() {

	var $areaSelect = $(".areaSelect");

	// 地区选择菜单
	$areaSelect.lSelect({
		url: "${base}/area/ajaxChildrenArea"// AJAX数据获取url
	});

});
</script>
<%
var isAdd = false;
var isEdit = false;
if(isEmpty(receiver.id)){
	isAdd = true;
}else{	
	isEdit = true;
}%>
</head>
<body>
<%include("/shop/header.html"){}%>
<div class="am-cf shop-main">
  <!-- sidebar start -->
  <%include("/shop/sidebar.html"){}%>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="shop-content">
    <div class="shop-content-body">
      <ol class="am-breadcrumb am-margin-left am-margin-bottom-0">
        <li class="am-active">收货地址</li>
      </ol>
				<div class="middle">
					<div class="blank"></div>
					<form id="inputForm" class="validate" action="<%if (isAdd){%>${base}/receiver/save<%}else{%>${base}/receiver/update<%}%>" method="post">
						<input type="hidden" name="receiver.id" value="${receiver.id!}" />
						<table class="inputTable">
							<tr>
								<th>
									收货人姓名:
								</th>
								<td>
									<input type="text" name="receiver.name" class="formText {required: true, messages: {required: '请输入收货人姓名！'}}" value="${receiver.name!}" />
									<label class="requireField">*</label>
								</td>
							</tr>
							<tr>
								<th>
									地区:
								</th>
								<td>
									<input type="text" name="receiver.areaPath" class="areaSelect hidden {required: true, messages: {required: '请选择地区！'}, messagePosition: '#addressMessagePosition'}" value="${receiver.areaPath!}" />
									<span id="addressMessagePosition"></span>
									<label class="requireField">*</label>
								</td>
							</tr>
							<tr>
								<th>
									地址:
								</th>
								<td>
									<input type="text" name="receiver.address" class="formText {required: true, messages: {required: '请输入地址！'}}" value="${receiver.address!}" />
									<label class="requireField">*</label>
								</td>
							</tr>
							<tr>
								<th>
									电话:
								</th>
								<td>
									<input type="text" name="receiver.phone" class="formText {requiredOne: '#mobile', phone: true, messages: {requiredOne: '电话、手机必须填写其中一项!'}}" value="${receiver.phone!}" />
									<label class="requireField">*</label>
								</td>
							</tr>
							<tr>
								<th>
									手机:
								</th>
								<td>
									<input type="text" id="mobile" name="receiver.mobile" class="formText {mobile: true}" value="${receiver.mobile!}" />
								</td>
							</tr>
							<tr>
								<th>
									邮编:
								</th>
								<td>
									<input type="text" name="receiver.zipCode" class="formText {required: true, zipCode: true, messages: {required: '请输入邮编！'}}" value="${receiver.zipCode!}" />
									<label class="requireField">*</label>
								</td>
							</tr>
							<tr>
								<th>
									是否默认:
								</th>
								<td>
									<label><input type="radio" name="receiver.isDefault" value="true"<%if (isEdit && receiver.isDefault){%> checked<%}%> />是</label>
									<label><input type="radio" name="receiver.isDefault" value="false"<%if (isAdd || !receiver.isDefault){%> checked<%}%> />否</label>
								</td>
							</tr>
							<tr>
								<th>
									&nbsp;
								</th>
								<td>
									<input type="submit" class="submitButton" value="提 交" hidefocus="true" />
									<input type="button" class="backButton" onclick="window.history.back(); return false;" value="返 回" hidefocus="true" />
								</td>
							</tr>
						</table>
					</form>
					<div class="blank"></div>
				</div>
				</div>
    <%include("/shop/footer.html"){}%>
  </div>
  <!-- content end -->
</div>
</body>
</html>